<% if user_signed_in? %>
  <%=link_to "Sign out", destroy_user_session_path(current_user.id), :method => :delete%>
<% end %>  

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if can? :read, Appointment %>
  <%= link_to "Appointments", appointments_path %>
<% end %>
